$color: #272727;
$text-color: #f5f5f5;

* {
  color: #3d3a39 !important;
  border-radius: 0.2rem !important;
}

.ddd {
  color: #f3f3f3 !important;
}

.ul {
  list-style-type: disc;
  padding-left: 2.3rem;
}

.p {
  font-size: 0.9rem;
}

.card-header-adjust {
  border-bottom: 1px solid;
  border-radius: 0 !important;
}

.loader {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader__image {
  height: 6rem;
  width: 6rem;
}

.box-layout {
  align-items: center;
  background: url(/bg.jpg);
  background-color: #43403f;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  width: 100vw;
  border-radius: 0 !important;
}

.box-layout-home {
  background: url(/kai.jpg);
  height: calc(100vh - 69px);
  background-color: #43403f;
  border-radius: 0 !important;
  -webkit-filter: opacity(91%);
  filter: opacity(91%);
  padding: 2rem;
  display: flex;
  overflow: auto;
}

.box-home {
  width: 100%;
  height: fit-content;
  background: #413e3d1f;
  padding: 0.5rem 1rem;
}

.img-header-img {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  cursor: pointer;
}

.img-header-wrapper {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer;
}

.font-family-change {
  font-family: 'Roboto', sans-serif;
}

.card-adjust {
  box-shadow: 1px 1px 6px 1px #ddd;
}

.card-body-adjust {
  padding: 0;
}

.card-image {
  padding: 0;
}

.img-width {
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.1), 0 2px 2px -2px rgba(0,0,0,.02), 0 1px 4px 0 rgba(0,0,0,.04);
  border-radius: .25rem;
}

.img-adjust {
  height: 12rem;
  width: 12rem;
  border-radius: 50% !important;
  border: 4px solid #ddd;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.username {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  color: #000000bd !important;
}

.username-adjust {
  font-size: 1.1rem;
  font-weight: 300;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center !important;
  width: 100%;
  font-weight: 500;
  color: #3d3a39 !important;
}

.forgot-pass {
  color: #565555 !important;
}

.nav-adjust {
  background: linear-gradient(#3d3a39f5, #3d3a39);
  border-radius: 0 !important;
}

.nav-adjust-home {
  background: transparent;
}

.color-layout {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#8bdcc9,#3c7ae1);
}

select {
  color: #6c757d !important;
}

.nav-link:hover {
  color: #ffffff !important;
  text-decoration: underline;
}

.ion-android-search-icon:hover {
  color: #6f6f6f !important;
}

.i-search {
  font-size: 1.4rem;
  color: #f3f3f3 !important;
  margin-left: 0.4rem;
  line-height: 1.7;
}

.searchbar {
  width: 33rem !important;
  border: none;
}

#search {
  display: none;
}

.color {
  color: $text-color !important;
}

.youtube-color {
  background-color: #FF0000;
  padding: .2rem 0.75rem;
  line-height: 1.5;
}

.twitch-color {
  background-color: #6441a5;
  padding: .2rem 0.75rem;
  line-height: 1.5;
}

.youtube-color:focus {
  border-color: #cc0303;
  outline: 0;
  box-shadow: none;
}

.twitch-color:focus {
  border-color: #512e90;
  outline: 0;
  box-shadow: none;
}

.twitch-color:hover {
  background-color: #6f51a7;
}

.youtube-color:hover {
  background-color: #ff0000d9;
}

.mt-6 {
  text-align: center;
  margin-top: 3rem;
}

.person-login-round {
  width: 10rem;
  height: 10rem;
  border-radius: 50% !important;
  background-color: #373332cf;
  position: absolute;
  z-index: 1000;
  top: -7rem;
  left: 6.5rem;
}

.person-round {
  font-size: 7rem;
  color: white !important;
  text-align: center;
  display: block;
  margin-top: -0.4rem;
}

.sidebar {
  width: 10vw;
  height: calc(100vh - 68.96px);
  background-color: #f7f7f7;
  position: fixed;
  border-right: 1px solid #423f3ea1;
  z-index: 1000;
  border-radius: 0 !important;
}

.p-hor-adjust {
  width: 100%;
  text-align: center;
  border-top: 1px solid #bdbcbc;
  margin: -1px 0 13px;
}

.p-hor {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #6c757d61;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.span-hor {
  background: #fff;
  padding: 0 10px;
  color: #6c757d !important;
}

.profile-content-description {
  font-weight: 400;
}

.sidebar_bar {
  width: 100%;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-content {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.bg-lighten {
  background-color: #f5f5f5 !important;
}

.sidebar_h3 {
  text-align: center;
  font-weight: 400;
  color: #413e3d !important;
  font-size: 1rem;
}

.sidebar_bar:hover {
  background-color: #423f3e05;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
}

.a-adjust {
  color: #3d3a39 !important;
}

a {
  text-decoration: none;
  color: #dedede !important;
}

.nav-item-adjust {
  margin-top: 0.55rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.borderRad-2 {
  border-radius: 0.2rem !important;
}

.nav-brand-adjust {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f5f5f5 !important;
}

i {
  cursor: pointer;
}

td {
  line-height: 1.7;
}

.btn-edit-round {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  line-height: 1;
}

.h-font {
  font-family: 'Roboto';
  font-weight: 600;
}

.s-font {
  font-family: 'Open Sans'
}

.h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.btn-float {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50% !important;
  margin-top: 9rem;
  margin-left: -3rem;
  background-color: #413e3d;
}

.btn-float:focus {
  outline: 0;
  box-shadow: none;
  border-color: #737170f5;
}

.ion-plus-pick {
  color: #ddd !important;
}

.details {
  margin-bottom: 0.9rem;
  margin-left: 1.3rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #776f6f !important;
}

.hr {
  margin-top: 4px;
  margin-bottom: 0;
}

.box-shadow:focus {
  box-shadow: 1px 1px 8px 1px #413f3e17 !important;
  border-color: #413e3d4f !important;
}

.user-details {
  display: flex;
  justify-content: space-between;
}

.card-profile {
  background-color: #fbfbfb;
}

.user-details-text {
  margin-bottom: 0.2rem;
  font-weight: 500;
  color: #403d3cb8 !important;
  font-family: 'Roboto-Slab', sans-serif;
  display: block;
}

textarea {
  resize: none;
}

.nav-link.is-active {
  color: #fff !important;
  text-decoration: underline;
}

.user-details-text-weight {
  font-weight: 600;
  margin-bottom: 0.2rem;
  font-family: 'Roboto', sans-serif;
  color: #776f6f !important;
  display: block;
}

.btn-edit-round:hover {
  background-color: #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.btn-round {
  border-radius: 0.2rem !important;
  border: 1px solid #3d3a39;
  background-color: transparent;
  color: #3d3a39 !important;
  font-weight: 500;
  box-shadow: none !important;
}

.btn-round:hover {
  background-color: #00000014;
}

.btn-round-trans {
  border-radius: 0.2rem !important;
  color: #f9f9f9 !important;
  font-weight: 500;
  box-shadow: none !important;
  background-color: transparent;
  border: 1px solid #ddd;
}

.btn-round-trans:hover {
  background-color: #0000002e;
}

.btn-round:focus {
  outline: 0;
  border: 1px solid #2d3a40;
}

.ion-refresh-adjust {
  color: #f9f9f9 !important;
}

.not-found {
  font-size: 15rem;
  text-align: center;
  margin-top: 8rem;
}

.not-found-home {
  font-size: 1.5rem;
  text-decoration: none !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 69px);
  flex-direction: row;
  background-color: #f7f7f7;
  overflow: auto;
}

.searchbar-style {
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  background-color: white;
  border-radius: 0.2rem !important;
}

.main::-webkit-scrollbar, .modal::-webkit-scrollbar {
  width: 9px;
  background: transparent;
  overflow: visible;
}

.ref a {
  color: #403d3cb8 !important;
  display: block;
  margin-bottom: 0.5rem;
}

.main::-webkit-scrollbar-thumb {
  background: #f7f7f7;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 1px;
}

.modal::-webkit-scrollbar-thumb {
  background: rgb(126, 126, 126);
  cursor: grab;
  border-radius: 1px;
}
.main::-webkit-scrollbar-thumb:hover, {
  background: rgb(126, 126, 126);
}

.modal::-webkit-scrollbar-thumb:hover {
  background: #9E9E9E;
}

@media screen and (max-width: 1154px) {
  .searchbar {
    width: 23rem !important;
    border: none;
  }
}

@media screen and (max-width: 576px) {
  .main::-webkit-scrollbar, .modal::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    overflow: visible;
  }
}

.container-wrapper {
  width: 90vw;
  margin-left: 10vw;
}

.container-wrapperr {
  margin-left: 10vw;
}

@media screen and (max-width: 992px) {
  .main {
     width: 100vw;
  }

  .display-none {
    display: none;
  }

  .container-wrapperr {
    margin-left: 0vw;
  }

  .card-footer {
    padding: .35rem .75rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
  }

  h5 {
    font-size: 12px;
  }

  .searchbar {
    width: auto !important;
    border: none;
  }

  .sidebar {
    display: none;
  }

  .searchbar-style {
    margin-left: 1rem;
  }

  .container-wrapper {
    width: 100vw;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .nav-item-adjust {
     margin-top: 0rem;
     margin-left: 0rem;
    cursor: pointer;
  }

  .box-layout-home {
    background: url(/kai.jpg);
    height: calc(100vh - 68.96px);
    background-color: #43403f;
    border-radius: 0!important;
    -webkit-filter: opacity(91%);
    filter: opacity(91%);
    padding: 0.7rem;
    display: flex;
    overflow: auto;
  }

  .p {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
  }

  .h33 {
    font-size: 1.4rem;
  }

  .btn-res {
    font-size: 0.6rem;
    padding: .175rem .45rem;
  }

  .not-found {
    font-size: 7rem;
    text-align: center;
    margin-top: 8rem;
  }

  .username {
    font-size: 1rem;
  }

  .res-login {
    margin-bottom: 1rem;
  }

  .container {
    max-width: 787px;
  }

  .mtt-sm-1 {
    margin-top: 0.5rem;
  }

  .mbb-sm-1 {
    margin-bottom: 0.5rem;
  }

  .searchbar-style {
    margin-left: 0rem;
    margin-top: 1rem;
  }
}

.modal {
  margin-top: 68.96px;
}

.shadow-sm-adjust {
  box-shadow: 1px 1px 11px 1px #3d3a395c;
  z-index: 2000;
}

.main-sidebar {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
}

.navbar-nav {
  margin-bottom: 0rem;
}

.navbar-dark-my .navbar-brand {
  color: #c7c7c7;
  font-weight: 600;
  font-size: 1.4rem;
}

.btn-submit {
  margin-bottom: 1rem;
  background-color: #3d3a39;
  color: $text-color !important;
}

.btn-submit:hover {
  background-color: #3d3a39f2;
}

.btn-float-bg {
  border-radius: 50% !important;
  width: 3rem;
  height: 3rem;
  margin-top: -3rem;
  z-index: 1000;
  margin-left: auto;
  background-color: #403d3c;
}

.form-adjust .form-control:focus {
  border-color: #1f1f1f;
}

.form-adjust .form-control {
  background-color: #f5f5f5;
}

.form-control:focus {
  border-color: #777775;
  outline: 0;
  background-color: white;
  box-shadow: 1px 1px 8px 1px #413f3e17 !important;
}

.searchbar:focus {
  box-shadow: none !important;
}

.x4 {
  font-size: 1.4rem;
  margin-right: 1.5rem;
}

.light-weight {
  font-weight: 400;
  margin-bottom: 1rem;
}

.btn-submit:focus {
  border-color: #1f1f1f;
  outline: 0;
  box-shadow: none;
}

.a_title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #dddddd !important;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 19px;
}

.total-unpaid {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.a_title:hover {
  color: #dddddd !important;
  text-decoration: none;
}

.ion-admin {
  color: #413e3d !important;
  font-size: 1.8rem;
  text-align: center;
}

.profile-wrapper {
  height: 12rem;
  background: linear-gradient(#3f3c3b33, #44414040);
  box-shadow: 1px 1px 1px #413e3d99;
  border-radius: 0 !important;
}

.search-btn {
  width: 2rem;
  background-color: #4DD0E1;
  border-bottom-left-radius: 0.2rem !important;
  border-top-left-radius: 0.2rem !important;
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  cursor: pointer;
}

.profile-adjust {
  margin-top: -12rem;
}

.ion-navicon-round {
  font-size: 2rem;
  color: #ddd !important;
  /* line-height: 1; */
  margin-top: -0.5rem;
}

.navbar-toggler-icon {
  display: none;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.header-form {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  color: $color;
}

::selection {
  background-color: #a7a6a6;
  color: #f5f5f5 !important;
  text-shadow: none;
}

.password {
  position: absolute;
  right: 1.2rem;
  bottom: 7.2rem;
  padding-right: 0.5rem;
}

.no_underline:hover {
  text-decoration: none;
}

.img-offers {
  background-color: white;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.x15 {
  font-size: 1.5rem;
}

button {
  outline : none !important;
}

.pay-point {
  width: 4rem;
  padding-right: 0.5rem;
}
