* {
  color: #272727 !important;
  border-radius: 0 !important; }

.box-layout {
  align-items: center;
  background: url("/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.color {
  color: white !important; }

.youtube-color {
  background-color: #FF0000;
  padding: .3rem .7rem; }

.twitch-color {
  background-color: #6441a5;
  padding: .3rem .7rem; }

.youtube-color:focus {
  border-color: #ec0202;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #ff0000a8; }

.twitch-color:focus {
  border-color: #6039a7;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #6441a5d1; }

.twitch-color:hover {
  background-color: #6f51a7; }

.youtube-color:hover {
  background-color: #fa2020; }

.mt-6 {
  text-align: center;
  margin-top: 3rem; }

.person-login-round {
  width: 10rem;
  height: 10rem;
  border-radius: 50% !important;
  background-color: #373332cf;
  position: absolute;
  z-index: 1000;
  top: -7rem;
  left: 6.5rem; }

.person-round {
  font-size: 7rem;
  color: white !important;
  text-align: center;
  display: block;
  margin-top: -0.4rem; }

.btn-submit {
  margin-bottom: 1.5rem;
  background-color: #373332;
  color: white !important; }

.btn-submit:hover {
  background-color: #3d3a39; }

.form-control:focus {
  border-color: #777775;
  outline: 0;
  background-color: white;
  box-shadow: 0 0 0 0.2rem #49505780; }

.x4 {
  font-size: 1.4rem;
  margin-right: 1.5rem; }

.light-weight {
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.btn-submit:focus {
  border-color: #777775;
  outline: 0;
  box-shadow: 0 0 0 0.2rem #49505780; }

.header-form {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #272727; }
