* {
  color: #272727 !important;
  border-radius: 0 !important; }

.box-layout {
  align-items: center;
  background: url("/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw; }

.img-header-img {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  cursor: pointer; }

.img-header-wrapper {
  width: 40px;
  height: 40px;
  display: block;
  cursor: pointer; }

.font-family-change {
  font-family: 'Roboto', sans-serif; }

.card-adjust {
  box-shadow: 1px 1px 6px 1px #ddd; }

.card-body-adjust {
  padding: 0; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: .25rem; }

.img-adjust {
  height: 14rem;
  width: 14rem;
  border-radius: 50% !important; }

.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem; }

.username {
  font-size: 1.1rem;
  font-weight: 700; }

.username-adjust {
  font-size: 1.1rem;
  font-weight: 300; }

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  text-align: center !important;
  width: 100%;
  font-weight: 400; }

.forgot-pass {
  color: #565555 !important; }

.nav-adjust {
  background: white;
  border-bottom: 1px solid #ddd; }

.color-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #8bdcc9, #3c7ae1); }

select {
  color: #6c757d !important; }

.nav-link:hover {
  color: #6f6f6f !important; }

.ion-android-search-icon:hover {
  color: #6f6f6f !important; }

#search {
  display: none; }

.color {
  color: white !important; }

.youtube-color {
  background-color: #FF0000;
  padding: .3rem .7rem; }

.twitch-color {
  background-color: #6441a5;
  padding: .3rem .7rem; }

.youtube-color:focus {
  border-color: #cc0303;
  outline: 0;
  box-shadow: none; }

.twitch-color:focus {
  border-color: #512e90;
  outline: 0;
  box-shadow: none; }

.twitch-color:hover {
  background-color: #6f51a7; }

.youtube-color:hover {
  background-color: #fa2020; }

.mt-6 {
  text-align: center;
  margin-top: 3rem; }

.person-login-round {
  width: 10rem;
  height: 10rem;
  border-radius: 50% !important;
  background-color: #373332cf;
  position: absolute;
  z-index: 1000;
  top: -7rem;
  left: 6.5rem; }

.person-round {
  font-size: 7rem;
  color: white !important;
  text-align: center;
  display: block;
  margin-top: -0.4rem; }

.sidebar {
  width: 10vw;
  height: 100vh;
  background-color: #455A64; }

.p-hor {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #6c757d61;
  line-height: 0.1em;
  margin: 10px 0 20px; }

.span-hor {
  background: #fff;
  padding: 0 10px;
  color: #6c757d !important; }

.profile-content-description {
  font-weight: 400; }

.sidebar_bar {
  width: 100%;
  height: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.profile-content {
  width: 100%;
  text-align: center;
  margin-top: 1rem; }

.bg-lighten {
  background-color: #f5f5f5 !important; }

.sidebar_h3 {
  text-align: center;
  font-weight: 400;
  color: #ddd !important;
  font-size: 1rem; }

.sidebar_bar:hover {
  background-color: #3a535f; }

.dashboard-container {
  display: flex;
  flex-direction: row; }

a {
  text-decoration: none; }

.nav-item-adjust {
  margin-top: 0.55rem;
  margin-left: 0.5rem;
  cursor: pointer; }

.borderRad-2 {
  border-radius: 2rem !important; }

.nav-brand-adjust {
  line-height: 2.9;
  font-size: 1.3rem;
  font-weight: 600; }

i {
  cursor: pointer; }

td {
  line-height: 1.7; }

.btn-edit-round {
  height: 2rem;
  width: 2rem;
  border-radius: 50% !important;
  text-align: center;
  background-color: transparent;
  border: none;
  box-shadow: none !important;
  line-height: 1; }

.h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 600; }

.btn-edit-round:hover {
  background-color: #ddd; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: whitesmoke; }

.btn-round {
  border-radius: 2rem !important;
  background-color: #455a64;
  color: #f9f9f9 !important;
  font-weight: 500; }

html {
  overflow: hidden; }

.ion-refresh-adjust {
  color: #f9f9f9 !important; }

.not-found {
  font-size: 15rem;
  text-align: center;
  margin-top: 8rem; }

.not-found-home {
  font-size: 1.5rem;
  text-decoration: none; }

.main {
  display: flex;
  width: 90vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5; }

.main-sidebar {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
  overflow-y: scroll;
  display: block; }

.navbar-nav {
  margin-bottom: 0rem; }

.main-profile {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5; }

.navbar-dark-my .navbar-brand {
  color: #c7c7c7;
  font-weight: 600;
  font-size: 1.4rem; }

.btn-submit {
  margin-bottom: 1.5rem;
  background-color: #373332;
  color: white !important; }

.btn-submit:hover {
  background-color: #3d3a39; }

.form-control:focus {
  border-color: #777775;
  outline: 0;
  background-color: white;
  box-shadow: none; }

.x4 {
  font-size: 1.4rem;
  margin-right: 1.5rem; }

.light-weight {
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.btn-submit:focus {
  border-color: #1f1f1f;
  outline: 0;
  box-shadow: none; }

.a_title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #dddddd !important;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 19px; }

.a_title:hover {
  color: #dddddd !important;
  text-decoration: none; }

.ion-admin {
  color: #ddd !important;
  font-size: 1.8rem;
  text-align: center; }

.header-form {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #272727; }
